<!DOCTYPE html>
<html>
<head>
<script src="htmx.min.js"></script>

<link rel="stylesheet" type="text/css" href="stil.css">
<link rel="icon" type="image/png" href="/image/icon" hx-get>
<meta charset="UTF-8">

<div hx-get="/api/title" hx-trigger="load"></div>

</head>
<body>
<style type="image/png" hx-get="/image/background" hx-trigger="load"></style>
<!-- <div hx-get="/image/background" hx-trigger="load" hx-target="body.style.background"></div> -->
<div hx-get="/api/toptext" hx-trigger="load"></div>
<div hx-get="/api/centertext" hx-trigger="load every 3s"></div>

</body>
</html>
